body {
	font-family: "Verdana", "Verdana", monospace;
	background-color: #000040;
}

.standardButton {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #0000a0;
	width: 150px;
	text-align:center;
}

.centre-container {
	background-color: #bebeff;
	height:100%;
	width:80vmin;
}

.standardButton:hover {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.button {
	padding-top: 5px;
}